
{% extends 'admin/admin_wlcm.html' %}
{% block admin_block %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  </head>
  <body>




  <div class="container-fluid">
    <table class="table">
        {% for x in data %}
        <tr>
            <th>Name :</th>
            <th>{{ x.name }}</th>
        </tr>
        <tr>
            <td>Email :</td>
            <td>{{ x.email }}</td>
        </tr>
        <tr>
            <td>Phone Number :</td>
            <td>{{ x.cno }}</td>
        </tr>
        <tr>
            <td>Message :</td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control" rows="2" readonly>
                {{ x.msg }}
                </textarea>
            </td>
        </tr>
        <form method="post" action="{% url 'send_nonuser_email' %}">
        {% csrf_token %}
        <tr>
            <td>
                <div class="form-group">
                    <label for="msg">Write your reply here</label>
                    <textarea class="form-control" id="msg" name="msg" rows="3" placeholder="Type reply here..">
                    </textarea>
                </div>
            </td>
        </tr>
        <input type="email" name="mail" hidden value="{{ x.email }}">
        <input type="number" name="no" hidden value="{{ x.id }}">

        <tr>
            <td>
                <button type="submit" class="btn btn-success btn-block">Send</button>
            </td>
        </tr>
        </form>
        {% endfor %}
    </table>
  </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>
{% endblock %}