# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\REST API\Assignment5\BloodPortal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
